# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/

# Data (large files)
data/*.csv
data/*.zip

# Outputs (Track visuals, ignore data)
outputs/*
!outputs/*.png
!outputs/*.gif

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
